:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #050505;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f4f4;
    --foreground: #090000;
  }
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  overflow-x: hidden !important;
  opacity: 0;
  animation: fadeInPage 1.5s ease-in-out forwards;
}

main {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

main[data-locale] {
  padding-top: 0;
}

.fade-in-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 3s ease, transform 3s ease;
}

.fade-in-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

h1,
h2,
h3,
h4 {
  color: var(--accent);
  margin-bottom: 0.6em;
}

p {
  margin-bottom: 1.2em;
  color: #333;
}

.asw-widget,
.asw-container {
  position: fixed;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 99999;
}

.asw-menu {
  position: fixed !important;
  bottom: 90px !important;
  right: 20px !important;
  height: auto !important;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
