.header {
  background: rgb(0, 0, 0);
  color: white;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logosWrap {
  display: flex;
  align-items: center;
}

.logosWrap img {
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
  white-space: nowrap;
  font-size: 1.3rem;
}

.nav a:hover {
  color: #f0c330;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 3000;
}

.langs {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.langs a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 6px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.langs a:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

.langs a.active {
  background: #fff;
  border-radius: 6px;
}

.flag {
  width: 28px;
  height: 20px;
  object-fit: cover;
  border-radius: 3px;
  display: block;
}

/* --- Mobile --- */
@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 0;
    background: rgb(0, 0, 0);
    width: 50%;
    padding: 0 1rem;
    gap: 1.5rem;
    border-bottom: 2px solid #000101;
    overflow: hidden;

    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.4s ease, opacity 0.3s ease;
  }

  .nav.open {
    padding: 2rem 1rem;
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
  }

  .langs {
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .left {
    width: 80px;
    height: 80px;
  }
  .right {
    width: 150px;
    height: 80px;
  }
}
