.hero {
  color: #fff;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
}

.textSide {
  position: relative;
  padding: 10px 60px;
  z-index: 2;
  background-image: url("/Photos/Architecture/drawings_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  align-content: center;
  overflow: hidden;
}
.textSide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.45);
}
.textSide h1,
.textSide p,
.buttons {
  position: relative;
  z-index: 2;
}

.textSide h1 {
  font-size: clamp(1.3rem, 0.111rem + 4.444vw, 4rem);
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 12px;
}

.textSide p {
  font-size: clamp(0.9rem, 0.593rem + 1.037vw, 1.5rem);
  color: #ffffff;
  font-weight: 800;
}

/*buttons*/

.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.buttonPrimary,
.buttonSecondary {
  padding: 14px 32px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.buttonPrimary {
  border: 2px solid rgb(249, 249, 249);
  background: transparent;
  color: white;
}
.buttonSecondary {
  border: 2px solid rgb(249, 249, 249);
  background: transparent;
  color: rgb(255, 255, 255);
}
.buttonPrimary:hover {
  background: #ffffff;
  transform: translateY(-5px);
  color: black;
}

.buttonSecondary:hover {
  background: white;
  color: #313132;
  transform: translateY(-5px);
}

.imageSide {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  flex: 1 0 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[dir="rtl"] .slides {
  flex-direction: row-reverse;
}
.slideItem {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alice-carousel__stage {
  display: flex !important;
}

.alice-carousel__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* --- רספונסיבי --- */
@media (max-width: 1200px) {
  .hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .textSide::before {
    background: none;
    z-index: 0;
  }

  .textSide {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100%;
  }
  .textBox {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  }
  .textSide h1 {
    color: black;
  }
  .textSide p {
    color: black;
  }
  .buttonPrimary {
    border: 2px solid rgb(5, 5, 5);
    background: transparent;
    color: rgb(0, 0, 0);
  }
  .buttonSecondary {
    border: 2px solid rgb(0, 0, 0);
    background: transparent;
    color: rgb(0, 0, 0);
  }

  .split {
    display: block;
  }

  .imageSide {
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .imageSide img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }

  .textSide {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 40px 20px;
  }

  .buttons {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .textBox {
    padding: 30px 20px;
    margin: 0 5px;
  }

  .buttonPrimary,
  .buttonSecondary {
    padding: 12px 24px;
    font-size: 0.9rem;
  }
}
