.scroll-container {
  position: relative;
  min-height: 400vh;
}

.background-image {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  margin-bottom: -100vh;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

.spacer {
  height: 100vh;
}
